.custom-dropdown {
  border-radius: 12px;
  box-shadow: 0 12px 28px rgba(0,0,0,.12);
  z-index: 1056; 
}

.dropdown-item {
  padding: 12px 16px;
  font-family: Montserrat;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background: #f8f8f8;
}