.amenities-section h3 {
  font-size: 22px;
  margin-bottom: 24px;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  font-size: 16px;
}

.amenity-item {
  display: flex;
  align-items: center;
}

.amenity-item span {
  font-size: 24px;
  margin-right: 16px;
}

.show-all-amenities {
  margin-top: 24px;
  padding: 13px 23px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #222;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}