.amenities-section h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  font-size: 16px;
  margin-bottom: 24px;
}

.amenity-item {
  display: flex;
  align-items: center;
}

.amenity-icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  margin-right: 16px;
}

.amenity-text {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.amenities-section button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.amenities-section button:hover {
  background-color: #E8E8E8;
}