.booking-info {
  padding-right: 20px;
}

.listing-header h2 {
  font-size: 22px;
}

.listing-header p {
  color: #555;
}

.about-place h3 {
  font-size: 18px;
}

.about-place p {
  line-height: 1.6;
}

.about-place button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}