.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}

.card-image {
  border-radius: 24px;
  width: 100%;
  aspect-ratio: 1/1;
  flex: 1;
  object-fit: cover;
}

.card span {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 0px;
  background: #fff;
}