.footer {
  background-color: #f7f7f7;
  padding: 24px 64px;
  margin: 0 0px;
  border-top: 1px solid #ddd;
  font-family: 'Montserrat', sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid #ddd;
}

.footer-column {
  flex: 1;
}

.footer-column h4 {
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.payment-logos img {
    height: 24px;
    margin-right: 12px;
}

.footer-bottom {
  padding-top: 24px;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}