.footer {
  background-color: #f7f7f7;
  padding: 32px 64px 12px 64px;
  margin: 0 0px;
  border-top: 1px solid #ddd;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Responsive padding */
@media (max-width: 1024px) {
  .footer {
    padding: 24px 32px 12px 32px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 16px 16px 8px 16px;
  }
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(100vw - 64px - 190px * 4)/3;
  padding-bottom: 32px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.footer-column {
  display: flex;
  flex-direction: column;
  min-width: 0;
  align-items: flex-start;
  text-align: left;
}

.footer-column h4 {
  margin-bottom: 16px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-column li {
  margin-bottom: 16px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-column a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.payment-logos img {
    height: 48px;
    width: 48px;
    margin-right: 12px;
}

.footer-bottom {
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}