.house-rules-section h3 {
  margin-bottom: 24px;
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rules-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 40px;
}

.rules-column {
  flex: 1;
  align-items: flex-start;
}

.rules-column h4 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rules-column p {
  line-height: 1.4;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.rules-column button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}