.image-gallery {
  padding: 0px 0px;
  position: relative;
}

.gallery-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 320px;
  position: relative;
}

.main-image {
  background-color: #e0e0e0;
  border-radius: 12px 0 0 12px;
}

.side-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.side-image {
  background-color: #e0e0e0;
}

.side-images .side-image:nth-child(2) {
    border-radius: 0 12px 0 0;
}
.side-images .side-image:nth-child(4) {
    border-radius: 0 0 12px 0;
}

.show-all-photos {
  border-radius: 8px;
  border: 0.5px solid #000;
  background: #FFF;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;

  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.show-all-photos:hover {
  background: #fafafa;
  cursor: pointer;
}

.image-gallery img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}