.image-gallery {
  padding: 0px 0px;
  position: relative;
}

.gallery-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 400px;
}

.main-image {
  background-color: #e0e0e0;
  border-radius: 12px 0 0 12px;
}

.side-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.side-image {
  background-color: #e0e0e0;
}

.side-images .side-image:nth-child(2) {
    border-radius: 0 12px 0 0;
}
.side-images .side-image:nth-child(4) {
    border-radius: 0 0 12px 0;
}

.show-all-photos {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}