.rating-section h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.rating-section h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 24px;
}

.rating-section h2 img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    align-items: center;
}

.detailed-ratings {
    display: grid;
    grid-template-columns: 1fr auto 4fr;
    margin-bottom: 24px;
    position: relative;
    align-items: center;
}

.rating-bars-column {
    display: grid;
    gap: 1px;
}

.rating-bar-container {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.rating-bar-container span:first-child {
    flex-basis: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.bar-wrapper {
    flex-grow: 1;
    height: 4px;
    background-color: #e0e0e0;
    border-radius: 2px;
    margin: 0 8px;
}

.bar {
    height: 100%;
    background-color: #222;
    border-radius: 2px;
}

.categories-column {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 8px;
    margin: 0px;
    text-align: left;
    gap: 12px;
}

.category-icon {
    width: 44px !important;
    height: 44px !important;
    object-fit: contain;
}

.category-score {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category-title {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
}

.line {
    content: '';
    width: 1px;
    height: 92px;
    background: #D9D9D9;
    align-self: center;
    margin-left: 60px;
    margin-right: 52px;
}