.room-card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex-shrink: 0;
  width: 240px;
  height: 240px;
  border-radius: 24px;
  aspect-ratio: 1/1;
}

.room-card .room-card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.room-card span {
  padding: 1rem;
}
