.auction-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.auction-card:hover {
  transform: translateY(-2px);
}

.auction-card-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 24px;
  overflow: hidden;
}

.auction-card-image {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auction-countdown-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 12px;
  border-radius: 0 0 24px 24px;
}

.bid-count-section {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.bid-count-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 4px;
}

.countdown-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.countdown-text {
  color: #FFF;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  padding: 4px;
}

.auction-info {
  padding: 12px 0px;
  background: #fff;
}

.auction-name {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 8px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;

  /* padding: 12px 0px; */
}

.auction-address {
  color: #000;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 8px 0;
  overflow: hidden;
  display: flex;
  line-clamp: 1;
}

.auction-address img {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  margin-right: 4px;
}

.auction-rating {
  margin: 0 0 8px 0;
  overflow: hidden;
  overflow: hidden;
  display: flex;
  line-clamp: 1;
}

.rating-text {
  color: #000;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.auction-rating img {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  margin-right: 4px;
}

.auction-price {
  margin: 0 0 8px 0;
  overflow: hidden;
  overflow: hidden;
  display: flex;
  line-clamp: 1;
}

.auction-price img {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  margin-right: 4px;
}

.price-title {
  color: #000;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price-amount {
  color: #000;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.price-period {
  font-weight: 400;
  font-size: 13px;
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}