.search {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  background: #FFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 6px 6px;
}

.search-content {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-content span {
  padding: 0px 32px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.search-content span:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 32px;
  background: #DDD;
}

.search .search-icon {
  background-color: #278C9F;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  order: 999;
}

.search .search-icon:hover {
  background-color: #1F6B7A;
}

.search .search-icon img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}