.description {
  padding: 0px 0px;
}

.description h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.description-content {
  margin-bottom: 24px;
}

.description h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 12px;
}

.description p {
  line-height: 1.6;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.description ul {
  padding-left: 0;
  margin: 0;
  /* list-style: disc; kiểu bullet mặc định */
}

.description li {
  margin-bottom: 8px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}


.description button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.description button:hover {
  background-color: #E8E8E8;
}