.policies-section {
    margin: 24px 0px 0px 0px;
    padding-bottom: 24px;
}

.policies-section-title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.policies-section-title img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}

.policies-section-title h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.policies-section li {
    margin: 12px 0px 0px 0px;
    line-height: 1.6;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}