.room-detail-page {
  display: flex;
  flex-direction: column;
}

.room-detail-content {
  flex: 1;
  max-width: calc(100vw - 128px);
  margin: 0 64px;
}

.room-detail-content .room-main-content {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
  justify-content: space-between;
}

.room-detail-content .left-column {
  width: 60% !important;
  max-width: 60% !important;
}

.room-detail-content .right-column {
  width: 35% !important;
  max-width: 35% !important;
}

.room-detail-content hr {
  border: 0;
  border-top: 1px solid #DDDDDD;
  margin: 32px 0;
  padding: 0px 64px;
}

@media screen and (max-width: 1200px) {
  .room-detail-content {
    margin: 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .room-detail-content .room-main-content {
    grid-template-columns: 1fr;
  }

  .room-detail-content .left-column,
  .room-detail-content .right-column {
    width: 100% !important;
    max-width: 100% !important;
  }
}