.login-signup {
    display: flex;
    gap: 16px;
    align-items: center;
}

.others-login-signup {
    display: flex;
    gap: 12px;
    align-items: center;
}

.login-signup .home-login-button {
    display: flex;
    padding: 10px 24px;
    border: 2px solid #FFF;
    border-radius: 8px;
    height: 48px;
    min-width: fit-content;
    flex-direction: row;
    background: transparent;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    transition: all 0.3s ease;

    color: var(--Neutrals, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    cursor: pointer;
}

.login-signup .home-login-button:hover {
    transform: translateY(-1px);
}

.login-signup .home-signup-button {
    display: flex;
    padding: 10px 24px;
    border: None;
    background: #FFF !important;
    border-radius: 8px;
    height: 48px;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    transition: all 0.3s ease;

    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.login-signup .home-signup-button:hover {
    transform: translateY(-1px);
}

.others-login-signup .others-login-button {
    display: flex;
    padding: 10px 20px;
    /* border: 2px solid #000; */
    border-radius: 8px;
    height: 48px;
    min-width: fit-content;
    flex-direction: row;
    /* background: transparent; */
    background-color: #000;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    transition: all 0.3s ease;

    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.others-login-signup .others-login-button:hover {
    transform: translateY(-1px);
}

.others-login-signup .others-signup-button {
    display: flex;
    padding: 10px 24px;
    border: None;
    border-radius: 8px;
    height: 48px;
    flex-direction: column;
    background: #278b9f;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    transition: all 0.3s ease;

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.others-login-signup .others-signup-button:hover {
    transform: translateY(-1px);
}