.banner-header {
    position: absolute;
    top: 32px;
    left: 44px;
    right: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.home-logo {
  display: flex;
  align-items: center;
}

.home-logo-image {
  width: clamp(48px, 6vw, 60px) !important;
  height: clamp(48px, 6vw, 60px) !important;
}

.home-logo-text {
  background: linear-gradient(180deg, #ffffff 0%, #85e8e6 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-family: Montserrat;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 620;
  line-height: normal;
  white-space: nowrap;
  margin-top: 8px !important;
}

.home-banner {
    position: relative;
    width: 100%;
    height: 92vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 32px;
    z-index: 1;
}

.banner-title {
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
}

.banner-subtitle {
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    position: relative;
    z-index: 2;
}

.home-content {
    padding-bottom: 32px;
}

@media screen and (max-width: 880px) {
    .banner-title {
        font-size: 48px;
    }

    .banner-subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 740px) {
    .banner-title {
        font-size: 36px;
    }

    .banner-subtitle {
        font-size: 16px;
    }
}