.banner-header {
    position: absolute;
    top: 32px;
    left: 48px;
    right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.home-logo {
  display: flex;
  align-items: center;
}

.home-logo-image {
  width: clamp(48px, 5vw, 56px) !important;
  height: clamp(48px, 5vw, 56px) !important;
}

.home-logo-text {
  background: linear-gradient(180deg, #ffffff 0%, #85e8e6 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  margin-left: 12px !important;
  margin-top: 20px !important;
  font-size: 28px !important;
  font-style: normal;
  font-weight: 620;
  line-height: normal;
  white-space: nowrap;
}

.login-signup {
  display: flex;
  gap: 16px;
  align-items: center;
}

.login-signup .home-login-button {
    display: flex;
    padding: 10px 24px;
    border: 2px solid #FFF;
    border-radius: 8px;
    height: 48px;
    min-width: fit-content;
    flex-direction: row;
    background: transparent;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    transition: all 0.3s ease;

    color: var(--Neutrals, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.login-signup .home-login-button:hover {
    transform: translateY(-1px);
}

.login-signup .home-signup-button {
    display: flex;
    padding: 10px 24px;
    border: None;
    background: #FFF !important;
    border-radius: 8px;
    height: 48px;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    transition: all 0.3s ease;

    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.login-signup .home-signup-button:hover {
    transform: translateY(-1px);
}


.home-banner {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 16px;
    border-radius: 32px;
    z-index: 1;
}

.banner-title {
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
}

.banner-subtitle {
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    position: relative;
    z-index: 2;
}
