.room-detail-page {
  display: flex;
  flex-direction: column;
}

.room-detail-content {
  flex: 1;
  max-width: 100vw - 128px;
  margin: 0 64px;
}

.room-detail-content .main-content {
  display: flex;
  justify-content: space-between;
}

.room-detail-content .left-column {
  width: 100%;
}

.room-detail-content hr {
  border: 0;
  border-top: 1px solid #DDDDDD;
  margin: 2.5rem 0;
  padding: 0px 64px;
}
