.signup-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.signup-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  height: 100vh;
  width: 100%;
  max-width: none;
}

.signup-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 32px;
  box-sizing: border-box;
}

.signup-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.signup-left-column {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.signup-header {
  display: flex;
  justify-content: left;
  padding: 16px 128px 0px 128px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: clamp(48px, 6vw, 64px);
  height: clamp(48px, 6vw, 64px);
  margin-right: 12px;
}

.logo-text {
  background: linear-gradient(180deg, #278C9F 0%, #53B0BC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 620;
  line-height: normal;
  white-space: nowrap;
}

.signup-form {
  flex: 1;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  padding-left: 128px;
}

.title {
  font-size: 28px;
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 12px;
}

.name-input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 16px;
}

.name-input-group .input-column {
    display: flex;
    flex-direction: column;
}

.name-input-group label {
    display: block;
    margin-bottom: 8px;
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name-input-group .input-first-name,
.name-input-group .input-last-name {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0.5px solid #79747E;
    background: var(--Neutrals, #FFF);
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.phone-input-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    margin-bottom: 16px;
}

.phone-input-group .input-column {
    display: flex;
    flex-direction: column;
}

.select-wrapper {
    position: relative;
}

.phone-input-group label {
    display: block;
    margin-bottom: 8px;
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.phone-input-group .input-country-code,
.phone-input-group .input-phone {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0.5px solid #79747E;
    background: var(--Neutrals, #FFF);
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.phone-input-group .input-country-code {
    appearance: none;
    padding-right: 40px;
}

.dropdown-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.phone-input-group .input-phone {
    cursor: text;
}

.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #1C1B1F;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-group .input-email {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 0.5px solid #79747E;
  color: #1C1B1F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-group .input-password {
  width: 100%;
  padding: 10px 40px 10px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 0.5px solid #79747E;
  background: var(--Neutrals, #FFF);

  color: #1C1B1F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.password-wrapper {
  position: relative;
}

.toggle-visibility {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
  flex-shrink: 0;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 13px;
}

.terms-checkbox {
  display: flex;
  align-items: center;
}

.terms-checkbox input[type="checkbox"] {
  cursor: pointer;
  accent-color: #30a5bc;
}

.terms-checkbox input {
  margin-right: 8px;
}

.terms-checkbox label {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signup-login-button {
  width: 100%;
  padding: 16px;
  background-color: #30a5bc;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signup-button:hover {
  background-color: #278C9F;
}

.signup-login-link {
  text-align: center;
  color: #4a5568;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 0px;
}

.signup-login-link a {
  color: #FF8682;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Responsive Design */
@media (max-width: 768px) {
  .signup-content {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .signup-left-column {
    padding: 24px 32px;
  }
  
  .signup-image {
    height: 300px;
    padding: 16px;
  }
  
  .signup-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}