.App {
  min-height: 100vh;
}

/* Global styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1120px;
  /* margin: 0 auto; */
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  /* margin: 40px 0; */
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 100%;
}