.auction-page-container {
    width: 100%;
    overflow: hidden;
    font-family: Montserrat;
    color: #000;
}

.auction-main-content {
    margin: 24px 64px 52px 64px;
}

.auction-title {
    margin-bottom: 24px !important;
}

.auction-layout-grid {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    width: 100%;
}

.left-column {
    flex: 5;
}

.right-column {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 14.25px;
}

.auction-info-card {
    /* background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 24px; */
    overflow: hidden;
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 992px) {
    .auction-layout-grid {
        flex-direction: column;
    }
    .left-column,
    .right-column {
        width: 100%;
        flex: unset;
    }
}