.auction-room-details {
    margin: 24px 0px 0px 0px;
    padding-bottom: 24px;
}

.auction-room-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.auction-room-details-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.auction-room-details-title img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}

.auction-room-details-title h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.auction-room-details-see-more {
    line-height: 1.6;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 0;
    transition: opacity 0.2s ease;
}

.auction-room-details-content {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    gap: auto;
}

.auction-room-details-content p {
    margin: 12px 0px 0px 0px;
    line-height: 1.6;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}