.auction-image-gallery {
  padding: 0px 0px;
  position: relative;
}

.auction-gallery-layout {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  height: 100%;
  position: relative;
}

.auction-main-image {
  background-color: #e0e0e0;
  border-radius: 12px;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.auction-main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.auction-side-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.auction-side-image {
  border-radius: 12px;
  overflow: hidden;
  height: 200px;
}

.auction-side-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}