.search-res-content-room-section {
  padding: 16px 56px;
}

.search-res-room-card-container {
  padding-top: 4px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  overflow: hidden;
  position: relative;
}

.search-res-loading-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  width: 100%;
}

