.location-section h3 {
  margin-bottom: 24px;
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.location-section span {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.location-map {
  width: 100%;
  height: 500px;
  background-color: #e0e0e0;
  border-radius: 12px;
  margin-top: 12px;
  overflow: hidden;
}

